#Forbidden in all Folders the Index Of
Options -Indexes

RewriteEngine on
RewriteRule ^admin/login files/login.html [NC]
RewriteRule ^admin files/admin.php [NC]

DirectoryIndex files/index.html

php_flag  display_errors        on
php_value error_reporting       2039

# DO NOT REMOVE THIS LINE AND THE LINES BELOW SSL_REDIRECT:yadcapital.com
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^yadcapital.com$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE SSL_REDIRECT:yadcapital.com
