Unit]
Description=My first websockets app

[Service]
User=yjacob
WorkingDirectory=/home/yjacob/repos/yjacob/PythonLab/PersonalProjects/WebsocketsPractice/ClientServere_websocket/
ExecStart=/home/yjacob/anaconda3/envs/webSoc/bin/python /home/yjacob/repos/yjacob/PythonLab/PersonalProjects/WebsocketsPractice/ClientServere_websocket/app.py --host 0.0.0.0 --port 8000 --html_protocol https --web_socket_protocol wss

[Install]
WantedBy=multi-user.target